body {
	font-family: 'Sarabun', sans-serif;
}

.col-lg-12 {
	padding: 0;
}

.container {
	padding: 0;
}

header {
	margin-bottom: 555px;
}

.navigation-left, .navigation-center, .navigation-right {
	padding: 0;
}

a.logo-header {
	color: #d3d3d3;
	font-family: 'Coiny', cursive;
	font-weight: 400;
	letter-spacing: -1px;
	font-size: 24px;
	overflow: hidden;
	padding: 0 0 10px;
	text-decoration: none;
}

a.logo-header::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	border-width: 2px 0;
	border-color: #282828;
	border-style: solid;
	left: 0;
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	opacity: 0;
}

a.logo-header:hover::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	transition: transform 0.5s;
	opacity: 1;
}

a.logo-header span {
	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
}

a.logo-header:hover span {
	color: #1e1a1b;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
	transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

a.logoheader span:nth-child(4),
a.logoheader:hover span:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

a.logoheader span:nth-child(3),
a.logoheader:hover span:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

a.logoheader span:nth-child(2),
a.logoheader:hover span:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

a.logoheader span:first-child,
a.logoheader:hover span:nth-child(4) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

/*navigation*/
div.navigation {
	position: relative;
	height: 100px;
	display: flex;
	align-items: center;
	z-index: 1;
}

div.navigation-left {

}

div.navigation-center {
	padding-left: 40px;
}

.navigation-center a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #333745;
	font-size: 13px;
	font-weight: bold;
	width: 135px;
	height: 30px;
	border: 2px solid transparent;
 	border-radius: 15px;
 	display: inline-block;
 	text-align: center;
 	line-height: 25px;
 	transition: all .2s;
}

.navigation-center a:hover,
.navigation-center a:focus {
 	border-color: rgb(234, 46, 73);
 	background-color: rgba(44, 45, 47, 0);
}

.navigation-right {
 	/*display: flex;*/
 	align-items: center;
 	text-align: right;
}

.navigation-right a {
	font-size: 20px;
	color: #333745;
	margin-left: 15px;
}

.navigation-right a:nth-child(1) {
	margin-left: 0;
}

.login-btn {
 	background-color: #b8b8b9;
 	width: 97px;
 	height: 30px;
 	display: inline-block;
 	text-align: center;
 	text-decoration: none;
 	font-size: 12px;
 	font-weight: bold;
 	border-radius: 15px;
 	/*border-color: #b8b8b9;*/
 	border: none;
 	color: #333745;
 	text-transform: uppercase;
 	margin-left: 20px;
 	transition: all .2s;
 	cursor: pointer;
}

.login-btn:hover {
	transform: scale(1.06);
	border-color: rgb(234, 46, 73);
	/*background-color: rgba(44, 45, 47, 0);*/
}


/*Slider*/
.slider-products {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  height: 655px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slider */
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Slides Background Color */
.slide-1 {
  background: #fbad99;
  left: 0;
}
.slide-2 {
  background: #a9785c;
  left: 100%
}
.slide-3 {
  background: #9ea6b3;
  left: 200%
}
.slide-4 {
  background: #b1a494;
  left: 300%;
}
.slider {
  display: flex;
  justify-content: flex-start;
}
.slider-content {
  width: 635px;
  padding-left: 100px;
}


/* Slider Inner Slide Effect */
.slider h2 {
  color: #333333;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  margin-top: 0;
  letter-spacing: 2px;
}

.slider h4 {
  font-size: 22px;
  font-family: "Oswald";
  color: rgba(51, 51, 51, 0.349);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slider > img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

/*.slide-1 > img {
  right: 0;
}*/

.buy-now-btn {
  background-color: #ea2e49;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  text-align: left;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  transition: all .2s;
}

.buy-now-btn:hover {
  box-shadow: 0px 0px 60px -17px rgba(51,51,51,1);
}

.buy-now-btn:after {
  content: 'Buy Now';
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 35px;
  top: 18px;
}

.slider .buy-now-btn:focus,
.navigation .login-btn:focus {
  outline: none;
}

/* Animations */
.slider h2 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}
.slider h4 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.4s; /* Safari */
  transition-delay: 1.4s;
}
.slider > img {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}

/* Number Pagination */
.number-pagination {
  position: absolute;
  bottom: 30px;
  right: 100px;
  font-family: "Oswald";
  font-weight: bold;
}

.number-pagination span {
  font-size: 30px;
  color: #ea2e49;
  letter-spacing: 4px;
}

.number-pagination span:after {
  content: "/4";
  font-size: 16px;
  color: #fff;
}

/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 30px;
  width: 575px;
  left: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.slider-pagination label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}

/* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  width: 14px;
  height: 14px;
  border: 2px solid #ea2e49;
  background: transparent;
}

/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img,
.slide-radio4:checked ~ .slide-4 > img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}






section.benefits {
	padding: 25px 0;
}

div.box-benefit {
	background-color: #f2f2f2;
	padding: 5px 0;
	width: 299px;
	margin-left: 1px;
}
div.box-benefit:nth-child(1) {
	margin-left: 0;
	width: 300px;
	margin-left: 0;
}

div.icon-benefit {
	text-align: center;
}

.icon-benefit i {
	font-size: 30px;
	line-height: 80px;
}

div.information-benefit {
	padding: 0;
}

div.information-benefit span {
	font-size: 13px;
}

section.newsletter {
	background-color: #f2f2f2;
	padding: 25px 0;
}

section.newsletter form {
	text-align: right;
	padding-top: 5px;
}

section.newsletter h3 {
	margin-top: 0;
}

section.newsletter input {
	font-size: 16px;
	padding: 12px 0 12px 20px;
	width: 350px;
	border: none;
}

section.newsletter input:focus {
	border: 1px solid black;
	box-shadow: none;
	outline: none;
}

section.newsletter input::placeholder {
	color: #b9b4c7;
}


section.newsletter button {
	height: 48px;
	width: 140px;
	background-color: #fe4c50;
	border: none;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
	font-weight: 500;
	cursor: pointer;
	margin-left: -4px;
}

section.newsletter button:focus {
	border: none;
	outline: none;
}

section.newsletter button:hover {
	background-color: #FE7C7F;
}

footer.col-lg-12 {
	padding: 25px 0;
}

footer span.logo-text {
	font-size: 23px;
	font-family: 'Coiny', cursive;
    letter-spacing: -1px;
}

.logo-footer span {
	display: block;
}

.payment-method span {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.payment-method i {
	font-size: 25px;
	margin-left: 12px;
}

div.footer-top {
	margin-bottom: 30px;
}

div.footer-bottom {
	padding-top: 15px;
	border-top: 2px solid #f4f6f8;
}

.footer-top, .footer-bottom, .logo-footer, .coppyright {
	padding: 0;
}

.footer-bottom a {
	color: #363636;
	margin-left: 20px;
}

div.page-store {
	text-align: right;
}