
a.logo-header {
	color: #d3d3d3;
	font-family: 'Coiny', cursive;
	font-weight: 400;
	letter-spacing: -1px;
	font-size: 24px;
	overflow: hidden;
	padding: 0 0 10px;
	text-decoration: none;
}

a.logo-header::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	border-width: 2px 0;
	border-color: #282828;
	border-style: solid;
	left: 0;
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	opacity: 0;
}

a.logo-header:hover::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	transition: transform 0.5s;
	opacity: 1;
}

a.logo-header span {
	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.5s, color 0.5s;
	transition: transform 0.5s, color 0.5s;
}

a.logo-header:hover span {
	color: #1e1a1b;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
	transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

a.logo-header span:nth-child(4),
a.logo-header:hover span:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

a.logo-header span:nth-child(3),
a.logo-header:hover span:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

a.logo-header span:nth-child(2),
a.logo-header:hover span:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

a.logo-header span:first-child,
a.logo-header:hover span:nth-child(4) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}