.categories{
	height: 200px;
}
.categories li{
	float: left;
	width: 100%;
	padding: 5px 0;

}
.categories li input[type=checkbox]:checked + label
{
	color: #ff5912;
}
.categories input[type=checkbox]{
	
}
.categories li input[type=radio]:checked + label
{
	color: #ff5912;
}
.categories input[type=radio]{
	
}
.categories li label{
	font-size: 14px;
}

.manufacturer li label{
	font-size: 14px;
}
.so_sanh{
	text-align: center;
}
.btn1{

}
/*.btn2{*/

}
.btn-success{
	/*float: left;*/
}
div:after,div:before{
                content: '';
                display: block;
                clear: both;
            }
            .fleft{
                float: left;
            }
            #wrapper-product > div{
                padding: 0;
            }
            .wrapper-header > div > span{
                font-weight: bold;  
            }
            .wrapper-header,.wrapper-contents,.wrapper-content-compare{
                border: 1px solid black;
            }
            .wrapper-contents{
                border-top: 0;
            }
            .wrapper-header  > div,.wrapper-contents .wrapper-item > div{
                padding: 10px 15px;
            }
            .wrapper-header > div,.wrapper-contents .wrapper-item > div{
                border-right: 1px solid black;
            }
            .wrapper-item > div:last-child > span{
                cursor: pointer;
                color: rgb(66, 103, 178);
                font-weight: bold;
            }
            .wrapper-contents .wrapper-item{
                border-bottom: 1px solid black;
            }
            .wrapper-contents .wrapper-item:last-child{
                border-bottom: 0;
            }
            .wrapper-header .wrapper-item > div:last-child,.wrapper-contents .wrapper-item > div:last-child{
                border: 0;
            }
            .wrapper-head-compare{
                border: 1px solid black;
            }
            .wrapper-head-compare > div > h5{
                text-align: center;
            }
            .wrapper-head-compare > div:first-child{
                border-right: 1px solid black
            }

            .wrapper-condition-head > h5,.wrapper-product-head > h5{
                font-weight: bold;
            }
            .wrapper-content-compare{
                border-top: 0;
            }
            .wrapper-condition-content{
                border-right: 1px solid black;
            }
            .wrapper-product-content > div:first-child{
                border-right: 1px solid black;
            }
            .wrapper-condition-content > div{
                border-bottom: 1px solid black;
                text-align: center;
                padding: 10px 0px;
            }
            .wrapper-condition-content{
                padding: 0;
            }
            .wrapper-condition-content > div:last-child{
                border-bottom: 0;
            }

            .wrapper-product-content > div > div{
                padding: 10px 0px;
                text-align: center;
                border-bottom: 1px solid black;

            }
            .wrapper-product-content > div > div:last-child{
                border-bottom: 0;
            }
            .wrapper-product-content,.wrapper-product-content > div{
                padding: 0;
            }
.section-new-product{
    
}